# ---- Python / PyInstaller ----
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
ENV/

# PyInstaller
build/
dist/
*.spec

# OS junk
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
